#sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #2f353a;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -200px;
}

#sidebar .sidebar-header {
  padding: 6px;
  background: #3a4248;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li {
  color: #fff;
}

#sidebar ul li a {
  padding: 15px;
  font-size: 0.8em;
  display: block;
  color: white;
  /* border-bottom: solid; */
}

#sidebar ul li a:hover {
  background: #000000;
  text-decoration: none;
  border-left: solid;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  /* background: #6d7fcc; */
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}
